.slider-content {
	position: relative;
}

.slider-image-inner,
.slider-content-inner {
	position: relative;
}

.slider-image-inner {
	display: flex;
	left: 0;
}

.slider-content-inner {
	top: 0;
}

.transitionLeft {
	transition: left 1s ease-in-out;
}

.transitionTop {
	transition: top 1s ease-in-out;
}

.slide,
.content {
	flex: 1;
    flex-basis: 0;
    min-width: 100%;
}

.slider-content {
	position: relative;
	height: 100%;
}

.slider-content .content {
	padding: 60px 30px;
	width: 100%;
	height: 100%;
}

.slider-content p {
	margin: 1em 0 4em;
}

.slider-content a {
	text-transform: uppercase;
	letter-spacing: 1em;
}

.about-furniture h3 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 12px;
}

.slider-arrows {
	position: absolute;
    right: 0;
    top: -56px;
	width: calc(56px * 2);
}

.slider-arrows > div {
	position: relative;
	cursor: pointer;
	float: left;
	width: 56px;
	height: 56px;
	text-align: center;
	background-color: var(--clr-black);
}

.slider-arrows > div > svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 50em) {
	.slider-image {
		overflow: hidden;
		position: relative;
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.slider-image-inner,
	.slider-content-inner {
		height: 100%;
	}
	.slider-content-inner .content {
		padding: 10%;
	}
	.slide {
		-o-object-fit: cover;
		   object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.slider-arrows {
		position: absolute;
		bottom: 0;
		left: 0;
		top: inherit;
		width: auto;
	}
	.slider-arrows > div {
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
		max-width: 5vw;
		padding-top: 5vw;
	}
	.slider-arrows > div:hover {
		background-color: var(--clr-dark-gray);
	}
	.slider-content {
		overflow: hidden;
		grid-column-start: 7;
		grid-column-end: 11;
	}
	.slider-content .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.slider-content p {
		margin-top: 2em;
	}
	.slider-content a svg {
		transition: margin 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.slider-content a:hover {
		color: var(--clr-gray);
	}
	.slider-content a:hover svg {
		margin-left: 1em;
	}
	.slider-content a:hover svg path {
		fill: var(--clr-gray);
	}
}

@media only screen and (min-width: 50em) and (max-height: 850px) {
	.slider-content p {
		margin-bottom: 1em;
	}
}