*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-gray: hsl(0, 0%, 63%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-dark-gray: hsl(0, 0%, 27%);
}

body {
	margin: 0;
	font-family: "Spartan", sans-serif;
	font-size: 12px;
}

h1,
h2 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

nav > * {
	display: inline-block;
	vertical-align: middle;
	padding: 0 1.5em;
}

.about-furniture {
	padding: 60px 30px;
}

h2 {
	font-size: 24px;
}

p {
	color: var(--clr-gray);
	line-height: 22px;
}

.grid {
	overflow: hidden;
}

.slider-image__wrapper,
.slider-content__wrapper {
	/* overflow-x: scroll; */
	display: flex;
	position: relative;
	/* flex-direction: row; */
	/* scroll-snap-type: x mandatory; */
}

.slider-image__wrapper {
	left: 0;
}

.transition {
	transition: left 1s ease-in-out;
}

.slide,
.content {
	flex: 1;
    flex-basis: 0;
    min-width: 100%;
}

.slider-content {
	position: relative;
}

.slider-content .content {
	padding: 60px 30px;
	width: 100%;
	/* flex-grow: 1; */
}

.slider-content p {
	margin: 1em 0 4em;
}

.slider-content a {
	text-transform: uppercase;
	letter-spacing: 1em;
}

.about-furniture h3 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 12px;
}

.slider-arrows {
	position: absolute;
    right: 0;
    top: -56px;
	width: calc(55px * 2);
}

.slider-arrows > div {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 -2px;
	width: 56px;
	height: 56px;
	text-align: center;
	background-color: var(--clr-black);
}

@media only screen and (max-width: 50em) {
	header {
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: -110px;
		height: 110px;
	}

	nav {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		display: flex;
		bottom: 0;
		align-items: center;
		justify-content: flex-end;
		background-color: var(--clr-white);
		opacity: 0;
		/* transform: translateX(100%); */
		transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
			background 2s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	nav > * {
		display: none;
	}

	header .toggle {
		position: absolute;
		left: 2em;
		z-index: 2;
		appearance: none;
		-webkit-appearance: none;
	}

	header .toggle::before {
		content: "";
		display: block;
		width: 20px;
		height: 14px;
		background: url(./images/icon-hamburger.svg);
	}

	header .toggle:checked::before {
		width: 16px;
		height: 16px;
		background: url(./images/icon-close.svg);
	}

	header .toggle:checked ~ .logo {
		display: none;
	}

	header .toggle:checked ~ nav {
		opacity: 1;
	}

	header .toggle:checked ~ nav > * {
		display: inline-block;
	}
}

@media only screen and (min-width: 50em) {
	html,
	body,
	.page,
	.grid {
		height: 100vh;
	}
	h2 {
		font-size: 36px;
		line-height: 44px;
	}
	header {
		position: fixed;
		z-index: 4;
		top: 60px;
		left: 60px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	nav {
		margin-left: 60px;
	}
	nav a {
		position: relative;
		color: var(--clr-white);
	}
	nav a::before {
		content: "";
		position: absolute;
		bottom: -1em;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 2px;
		background-color: var(--clr-white);
		transition: width 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	nav a:hover::before {
		width: 20px;
	}
	.toggle {
		display: none;
	}
	.page {
		margin: 0 auto;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: 60vh 40vh;
	}
	.flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.box {
		padding: 0 10%;
	}
	.slider-image {
		overflow: hidden;
		position: relative;
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.slider-image__wrapper,
	.slider-content__wrapper {
		height: 100%;
	}
	.slider-content__wrapper .content {
		padding: 60px 10%;
	}
	.slide {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.slider-arrows {
		position: absolute;
		bottom: 0;
		left: 0;
		top: inherit;
	}
	.slider-arrows > div:hover {
		background-color: var(--clr-dark-gray);
	}
	.slider-content {
		overflow: hidden;
		grid-column-start: 7;
		grid-column-end: 11;
	}
	.slider-content p {
		margin-top: 2em;
	}
	.slider-content a svg {
		transition: margin 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.slider-content a:hover {
		color: var(--clr-gray);
	}
	.slider-content a:hover svg {
		margin-left: 1em;
	}
	.slider-content a:hover svg path {
		fill: var(--clr-gray);
	}
	.about-dark {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.about-furniture {
		grid-column-start: 4;
		grid-column-end: 8;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.about-light {
		grid-column-start: 8;
		grid-column-end: 11;
		grid-row-start: 2;
		grid-row-end: 2;
	}
}
